<section>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div hlmFieldGroup>

            <!-- Имя пользователя -->
            <div hlmField>
                <label hlmFieldLabel for="username">
                    Почта
                </label>

                <input hlmInput id="username" type="email" formControlName="username" autocomplete="username"
                    placeholder="Email" />

                <hlm-field-error validator="required">
                    Укажите почту.
                </hlm-field-error>

                <hlm-field-error validator="minlength">
                    Минимум 3 символа.
                </hlm-field-error>

                <hlm-field-error validator="maxlength">
                    Максимум 64 символа.
                </hlm-field-error>
            </div>


            <!-- Пароль -->
            <div hlmField>
                <label hlmFieldLabel for="password">
                    Пароль
                </label>

                <input hlmInput id="password" type="password" formControlName="password" autocomplete="current-password"
                    placeholder="Введите пароль" />

                <hlm-field-error validator="required">
                    Укажите пароль.
                </hlm-field-error>

                <hlm-field-error validator="minlength">
                    Минимум 8 символов.
                </hlm-field-error>

                <hlm-field-error validator="maxlength">
                    Максимум 128 символов.
                </hlm-field-error>
            </div>

            <!-- Кнопка -->
            <div hlmField>
                <button hlmBtn type="submit" class="w-full" [disabled]="isSubmitting()">
                    @if (isSubmitting()) {
                    <ng-icon name="lucideLoaderCircle" class="animate-spin" />
                    } @else {
                    Войти
                    }
                </button>
            </div>

            <!-- Ошибка авторизации -->
            @if (errorMessage()) {
            <div class="login__error" role="alert">
                {{ errorMessage() }}
            </div>
            }

        </div>
    </form>
</section>